header {
    display: flex;
    align-items: center;

    background-color: var(--black-default);
    width: 100vw;
    height: 120px;
    padding: 0px 120px;
    margin-bottom: 24px;
}

header img {
    height: 75px;
    width: auto;
}
