:root {
    --black: #0f0f0f;
    --blue: #080e73;
    --purple: #800074;
    --white: #f6f6f6;
    --yellow: #fbb911;

    --black-default: #000000;
    --white-default: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100vw;
    width: 100vh;
}

#root {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, #fbb911 0%, #fccd55 100%);
    overflow-y: auto;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--black);
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background-color: #b9b9b9;
    border-radius: 4px;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-style: unset;
    font-size: 4rem;
    font-weight: 600;
}

h2 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
}
